body {
    background-color: lightblue;
    }
    
    h1 {
    color: navy;
    margin-left: 20px;
    }
    .Rotation{transform: rotate(45deg); border-radius: 50%;}
    .Rotation1{transform: rotate(15deg); border-radius: 25%;}